<div>
    <img src="/images/handcrafted.jpg" alt="" class="w-[15rem] h-[20rem] rounded-3xl object-cover opacity-80">
    <div class="flex justify-center items-center space-x-5">
        <button class=" flex justify-center items-center bg-blue-600 text-white w-20 h-8 relative -top-16 rounded-full">Buy</button>
        <button class="flex justify-center items-center bg-blue-600 text-white w-20 h-8 relative -top-16 rounded-full">Visit</button>
    </div>
</div>