<div class="flex flex-col w-[80vw] h-auto">
    <div class="mb-10">
        <input type="text" placeholder="Search for businesses, products etc" class=" w-[45vw] ml-40 h-10 border border-black pl-5 rounded-full">
        <button class="w-36 bg-blue-600 h-10 text-white rounded-full text-xl">Search</button>
    </div>
    <div class="grid grid-cols-4 gap-4">
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/spideman.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/spideman.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/spideman.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/spideman.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/spideman.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/spideman.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        <a href=""><img src="/images/handcrafted.jpg" alt="" class="rounded-3xl w-[20rem] h-[15rem] object-cover"></a>
        
        
        
    </div>
</div>