<div>     
    <div class="h-[45rem] text-black flex flex-col justify-center items-center gap-20">
      <h1 class="text-3xl font-bold text-black">
        Create <span class="text-blue-600">Your Item </span>Here
      </h1>
      <form action="" class="w-[60vw] h-[28rem] bg-gray-500 rounded-2xl flex flex-col gap-16 justify-center pl-10">
        <div  class="flex gap-10" >
          <div>
            <h1 class="font-semibold text-lg mb-2">Item Title</h1>
            <input type="text" placeholder="Ex. Lion King" class="w-[12rem] p-3 rounded-full bg-white" />
          </div>
          <div>
            <h1 class="font-semibold text-lg mb-2">Description For Item</h1>
            <input type="text" placeholder="Give us your idea" class="w-[24rem] p-3 rounded-full bg-white"/>
          </div>
          <div>
            <h1 class="font-semibold text-lg mb-2">Your Username</h1>
            <input type="text" placeholder="Ex. @pragyandas" class="w-[12rem] p-3 rounded-full bg-white"/>
          </div>
        </div>
        <div class="flex gap-10">
          <div>
            <h1 class="font-semibold text-lg mb-2">Price Of Item</h1>
            <input type="text" placeholder="Price depends on quality. Ex. 0.06 ETH" class="w-[25rem] p-3 rounded-full bg-white"/>
          </div>
          <div>
            <h1 class="font-semibold text-lg mb-2">Royalties</h1>
            <input type="text" placeholder="Common royalties 1-25%" class="w-[25.5rem] p-3 rounded-full bg-white"/>
          </div>
        </div>
        <div class="flex gap-36">
          <div>
            <h1 class="font-semibold text-lg mb-2">Your File</h1>
            <input type="file" name="" id="" />
          </div>
          <button class='text-white rounded-full font-semibold bg-black text-xl h-12 w-[25.5rem] hover:bg-white hover:text-black  '>Submit Your Applying</button>
        </div>
      </form>
    </div>
    <div class="bg-white h-[40rem] text-white flex flex-col">
    <h1 class="text-3xl font-bold text-center pt-5 text-black">
        This is <span class="text-blue-600">Your Item </span>Preview
    </h1>
    <div class="flex justify-center items-center w-[60vw] m-auto text-black">
      <div class="mr-10">
        <img src="/images/spideman.jpg" alt="" class="h-[30rem] w-[35rem] rounded-2xl object-cover" />
      </div>
      <div class="flex flex-col gap-10 w-[50%]">
        <h1 class="font-semibold text-2xl">Dolores Haze Westworld Eye</h1>
        <div class="flex">
          <img src="/images/spideman.jpg" alt="" class="rounded-full h-16 w-16 object-cover"/>
          <div class="flex flex-col justify-center items-left ml-4 gap-1">
            <p class="text-md font-semibold">Pragyan Das</p>
            <p class="text-blue-600 font-semibold">@pragyan</p>
          </div>
        </div>
        <p class="leading-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque dolores qui, earum exercitationem fuga dolorum iure aliquam asperiores temporibus, alias aliquid ad. Neque voluptatum libero magni minus officiis nobis!</p>
        <div class="flex gap-5">
          <div class="flex flex-col gap-2">
            <p class="font-semibold">Current Bid</p>
            <h1 class="text-blue-600 font-bold text-xl">0.06 ETH</h1>
            <p>($8097,45)</p>
          </div>
          <div class="flex flex-col gap-2">
            <p class="font-semibold">Owner</p>
            <h1 class="text-blue-600 font-bold text-xl">Pragyan Das</h1>
            <p>(@pragyan4261)</p>
          </div>
          <div class="flex flex-col gap-2">
            <p class="font-semibold">Ends In</p>
            <h1 class="text-blue-600 font-bold text-xl">3D 05H 20M 58S</h1>
            <p>(January 22nd, 2023)</p>
          </div>
          
        </div>

      </div>
    </div>
    </div>
</div>
    