<div class=" flex flex-col justify-center pt-10 pl-5 w-[15vw] h-[49.1rem] text-xl border border-r-2 fixed"> 
    <div class="h-[10%]">
        <a href="/"><h1 class="text-3xl font-serif">Linkmarket</h1></a>
    </div>
    <div class="flex flex-col space-y-8 h-[80%] mt-5">
        <div class="space-x-2">
            <i class="fa-solid fa-house"></i>
            <a href="/"><button>Home</button></a>

        </div>
        <div class="space-x-2">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="/search"><button>Search</button></a>

        </div>
        <!-- <div class="space-x-2">
            <i class="fa-solid fa-compass"></i>
            <a href="/explore"><button>Explore</button></a>
        </div> -->
        <div class="space-x-2">
            <i class="fa-solid fa-message"></i>
            <a href="/messages"><button>Messages</button></a>
        </div>
        <div class="space-x-2">
            <i class="fa-solid fa-bell"></i>
            <a href="/notifications"><button>Notifications</button></a>
        </div>
        <div class="space-x-2">
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/sell"><button>Sell</button></a>
        </div>
        <div class="space-x-2">
            <i class="fa-solid fa-user"></i>
            <a href="/profile"><button>Profile</button></a>
        </div>
        
    </div>
    <div class="h-[10%]">
        <div class="pt-4">
            <i class="fa-solid fa-gear"></i>
            <a href="/settings"><button>Settings</button></a>
        </div>
    </div>
</div>