<%-include('partials/header')%>
    <div class="w-full h-[49.1rem]">
        <div
            class="w-[50rem] h-52 border-2 flex flex-col justify-center items-center mx-auto top-44 relative rounded-lg">
            <h1 class="text-3xl font-semibold mb-2">Are You Sure You Want To Confirm The Transaction?</h1>
            <p>Confirming will send a notification to the seller and the seller will be contacting you soon.</p>
            <button type="submit" class="bg-blue-600 text-white h-10 w-60 rounded-lg mt-10 text-xl">Confirm
                Transaction</button>
        </div>
    </div>
    <%-include('partials/footer')%>