<%- include('partials/header') %>

<div class="flex gap-64">
    <div>
        <%- include('partials/sidemenu') %>
    </div>
    <div class="flex flex-col mt-10 space-y-10">
        <%- include('partials/searchcontainer') %>
        
    </div>
    
   
</div>
<%- include('partials/footer') %>